@tailwind base;
@tailwind components;
@tailwind utilities;

.mimi {
  /* min-height: 15rem; */
  min-width: 15rem;
  width: 20vw;
  aspect-ratio: 1/1;
  border-radius: 3rem;
  background-position: center;
  background-size: cover;
  background-image: url("../src/assets/mimi.png");
}
.mimi2 {
  /* min-height: 15rem; */
  min-width: 15rem;
  width: 20vw;
  aspect-ratio: 1/1;
  border-radius: 3rem;
  background-position: center;
  background-size: cover;
  background-image: url("../src/assets/mimi2.png");
}
